<p>El autor de esta página es: A.J. Ibáñez
<img src="imagen/imagen.jpg" width="42px" height="42px" alt="Imagen del autor"></p>
<p><br><video poster="imagen/imagen.jpg" width="150" preload loop controls>
	<source src="imagen/elVideo.ogv" type="video/ogv">
	<source src="imagen/elVideo.mp4" type="video/mp4">
</video></p>

